NEXT_PUBLIC_META_PIXEL_ID=1404228387596184
META_PIXEL_ID=1404228387596184
META_ACCESS_TOKEN=EAAWe38cep0gBRtJh2h71DZCC6LU6SdUJGVnpKz7sqbJVnnXSPCpJzxmntQVceUhSIExpFPI9xmiGSUWcUGDYXp0GXKGolv8xz3KfsY9ihKW5SsZBmnjf4Y3yTypE231qkDdZBhZBqXIhDGxbwnuZCcA7zMPPbfbDR5roRl5qmRv7RTe36fbSN8cd6EMWChgZDZD
META_TEST_EVENT_CODE=TEST21463