NEXT_PUBLIC_META_PIXEL_ID=1404228387596184
META_PIXEL_ID=1404228387596184
META_ACCESS_TOKEN=EAAWe38cep0gBRruaSZBe6ehXcFVH1x1YdxZCFiy0hjBLqFzaFKbrsYBvfhvecflXr42uvpNskEbHsTnJp29fr5ZCrXmk43CEV9e13ZB66cUyKkAJXzgsNufLNNMflElYQxb2SzLnL0DTBZCjDKmZC2W4FkKYoZAfTvNSY0pVXkx5uUX3a8vk3V1i45TlfweFwZDZD
META_TEST_EVENT_CODE=
PORT=3000
HOSTNAME=0.0.0.0
ADMIN_API_TOKEN=change_this_admin_token
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123456
DATABASE_URL="file:./dev.db"
