@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}

/* Declare custom fonts using @font-face */
@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Font classes for different weights */
.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}
